<h1 class="text-center mt-2">Register</h1>
<hr class="bg-primary w-75">
<form class="mx-auto w-50" method="post">
    <div class="form-group">
        <div class="d-flex justify-content-start">
            <label for="username" class="h4 mb-2 text-dark">Username</label>
        </div>
        <input type="text" class="form-control" id="username" name="username" />
    </div>
    <div class="form-group">
        <div class="text-dark  d-flex justify-content-start">
            <label for="email" class="h4 mb-2">Email</label>
        </div>
        <input type="email" class="form-control" id="email" name="email" />
    </div>
    <div class="form-group">
        <div class="text-dark  d-flex justify-content-start">
            <label for="password" class="h4 mb-2">Password</label>
        </div>
        <input type="password" class="form-control" id="password" name="password" />
    </div>
    <div class="form-group">
        <div class="text-dark  d-flex justify-content-start">
            <label for="confirmPassword" class="h4 mb-2">Confirm Password</label>
        </div>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" />
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-block btn-primary text-white mb-3" value="Register">Register</button>
    </div>
</form>
