<div class="page-hero bg-primary text-white" id="banner">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2 text-center">
                <div class="title">
                    <h1 class="display-2 text-white">Git</h1>
                    <h4 class="text-white">A new git system for developing with less effort.</h4>
                </div>
                <div class="credits">
                    <h3 class="text-white">
                        <a class="text-white" href="/Users/Login">Login</a>
                        if you have an account or
                        <a class="text-white" href="/Users/Register">Register</a>
                        now.
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<img class="justify-content-center col-12 col-lg-8 offset-lg-2 " src="https://github.githubassets.com/images/modules/open_graph/github-mark.png"/>