<h1 class="text-center mt-2">Please describe the new Issue you'd like to add.</h1>
<hr class="bg-primary w-75">
<form class="mx-auto w-50" method="post">
    <div class="form-group">
        <div class="text-dark d-flex justify-content-center">
            <label for="description" class="h3 mb-2 text-white">Description</label>
        </div>
        <textarea row="20" class="form-control" id="description" name="description"></textarea>
    </div>
    <input type="text" hidden id="id" name="carId" value="@Model.CarId" />
    <div class="d-flex justify-content-center">
        <button type="submit" href="/Issues/Add" class="btn btn-block btn-primary text-white mb-3">Add</button>
    </div>
</form>