<html>
<head>
    <title>My Web Server</title>

    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <h1>Welcome to the server</h1>
    <ul>
        <li>
            <a href="/Animals/Cats?name=Sharo&age=5">Cats</a>
        </li>
        <li>
            <a href="/Animals/Dogs">Dogs</a>
        </li>
    </ul>

    @RenderBody()

    <div>Footer</div>
</body>
</html>
