<div class="container">
    <div class="section">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="page-header text-center">
                    <h2 id="tables">Public</h2>
                    <p>Repositories</p>
                </div>

                <div class="d-flex justify-content-center">
                    <a class="btn btn-block btn-primary text-white mb-3" href="/Repositories/Create">Create a repository</a>
                </div>

                <div class="component">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Owner</th>
                                <th scope="col">Created On</th>
                                <th scope="col">Commits Count</th>
                                <th scope="col">Commit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-light">
                                <th scope="row">ASP.NET Core Template</th>
                                <td>Nikolay Kostov</td>
                                <td>22/10/2018 08:00</td>
                                <td>254</td>
                                <td>
                                    <a class="btn btn-block btn-primary text-white mb-3" href="/Commits/Create?id=123">Commit</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>