<div>
    <ul>
        <li><a href="/Dogs">Dogs</a></li>
        <li><a href="/Bunnies">Bunnies</a></li>
        <li><a href="/Turtles">Turtles</a></li>
        <li><a href="/Cats/Create">Create Cat</a></li>
    </ul>
</div>
<h1>Hello from {{Name}}! I am {{Age}} years old!</h1>