<h1 class="text-center mt-2">Add a new car</h1>
<div class="row mt-4 mb-4">
    <div id="card" class="card col-6 col-lg-3 game-card h-100 m-auto">
        <img id="card-image"
             src="https://s1.cdn.autoevolution.com/images/news-pictures-600x/opel-teases-mystery-car-ahead-of-moscow-show-85300-7.jpg"
             class="card-img-top img-fluid card-image">

    </div>

    <form class="col-6 col-lg-9" method="post">
        <div class="form-group">
            <label for="model-input">Model</label>
            <input name="model" type="text" class="form-control" id="model-input">
        </div>
        <div class="form-group">
            <label for="year-input">Year</label>
            <input name="year" type="number" class="form-control" id="year-input">
        </div>

        <div class="form-group">
            <label for="image-input">Image URL</label>
            <input name="image" type="text" class="form-control" id="image-input">
        </div>

        <div class="form-group">
            <label for="plateNumber-input">Plate Number</label>
            <input name="plateNumber" type="text" class="form-control" id="plateNumber-input">
        </div>
        <button type="submit" class="btn btn-block btn-primary">Add Car</button>
    </form>
</div>