<h1 class="text-center mt-2">My Cars</h1>
<div class="row mt-2 mb-4">
    <div class="card col-6 col-lg-3 game-card">
        <img src="https://www.thedetroitbureau.com/wp-content/uploads/2019/07/Ford-GT-Mystery-Model.jpg"
             class="card-img-top img-fluid card-image rounded" data-toggle="tooltip"
             data-placement="bottom" title="2017 Ford-GT">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-center">Plate # А 2321 ХА</li>
                <li class="list-group-item">
                    <span class="bg-danger col-sm">Remaining Issues: 1</span>
                    <span class="bg-success col-sm">Fixed Issues: 2</span>
                </li>
            </ul>
            <a href="/Issues/CarIssues?carId={Id}" class="btn btn-block btn-primary">Check issues</a>
        </div>
    </div>

</div>