body {
    color: purple;
}

a {
    color: blue;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}