<html>
<head>
    <title>Full HTML</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
    <h1>Fully working HTML</h1>

    <img src="/img/cat.jpg" />

    <script src="/js/index.js"></script>
</body>
</html>
