<form method="post">
    Name: <input type="text" name="Name" /> <br />
    Age: <input type="text" name="Age" /> <br />
    Breed: <input type="text" name="Breed" /> <br />
    <input type="submit" value="Save" />
</form>